* {
    margin: 1px;
}
#gridwrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "he na na na"
    "a1 a1 a1 a1"
    "a2 a2 a3 a3"
    "a2 a2 a3 a3"
    "a4 a4 a5 a5"
    "a4 a4 a5 a5"
    "fo fo fo fo"
;

grid-template-columns: repeat(4, 25%);
grid-template-rows: repeat(11, 25%);
grid-gap: 2px;
max-width: 100%;
}

.body {
    background-image: url(../img/t3.v1.jpg);
    background-color: slategray;
    max-width: 100%;
    max-height: 100%;
}


.header{
    grid-area: he;
    font-style: oblique;
    font-size: 65px;
    height: 80px;
    color:white;
    padding-left: 20%;
}


.nav {
    grid-area: na;
    font-style: oblique;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    width: auto;
    margin: 5px;
    padding-bottom: 7%;
    color: white;
}

#article1 {
    grid-area: a1;
    font-style: oblique;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    width: auto;
    margin: 5px;
    padding-top: 9%;
    color: whitesmoke;
    padding-left: 3%;
}

.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 0;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotera */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade 2 */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotera */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  #gridwrapper2 {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "he he he he"
    "a1 a1 a1 a1"
    "a1 a1 a1 a1"
    "a2 a2 a2 a2"
    "a2 a2 a2 a2"
    "a3 a3 a4 a4"
;

grid-template-columns: repeat(4, 25%);
grid-template-rows: repeat(11, 25%);
grid-gap: 2px;
max-width: 100%;
}
